/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.history

#jasim docker dependency
mysql
.docker
_ide_helper.php

#lighthouse-ide-helper
_lighthouse_ide_helper.php
programmatic-types.graphql
schema-directives.graphql
.DS_Store
data.ms
